body {
    font-family: 'Arial', sans-serif;
    background-color: #dad2d2;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;


}

.container {
    max-width: 768px;
    margin: 0 auto;
    text-align: center;
}

header {
    background-color: #e44d26;
    padding: 20px;
    border-radius: 10px 10px 0 0;
    margin-top: 20px;
}

header h1 {
    color: #fff;
}

main {
    background-color: #fff;
    padding: 20px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.main-image {
    max-width: 50%;
    border-radius: 10px;
}

.music-player {
    margin-top: 20px;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background-color: #e44d26;
    color: #fff;
    padding: 10px;
    text-align: center;
    justify-content: center;
    border-radius: 10px 10px 10px 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 20 px;
}


.toast {
    background-color: #333;
    color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

#toast-container {
    position: fixed;
    top: 20px;
    right: 20px;
    max-width: 300px;
}